---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">Inicio</h1>
  </li>
<li><a class="post-link" href="#">
      <h2 class="post-title">Bienvenidos a mi blog</h2>
    </a>
    
    <div class="post"><p>Me llamo Ronaldo Aguirre, tengo 19 años.
      
El motivo de esta blog es para compartir mis conocimientos actuales y un poco sobre mi vida personal
      
espero les ayude en algo mis post que estan publicados.
      
<p><b>Vida academica </b><br> Estudie en la Unidad Educativa Fedguayas donde conclui mis estudios escolares durante mi periodo estudianto en esta Univdad Educatica recibi varios diplomas y reconocimientos por mi rendendimiento optimo. 

<br>Mis estudios secundarios los hice en el VICENTE ROCAFUERTE en la cual fue una epoca de enseñanza muy fundamental para mí recibiendo varios reconocimientos. 

<br>Concluyendo mi estudios en ese mismo plantel en el año 2018 como Bachiller en el area de INFORMATICA.

           
</div>
  </li>
  
<div class="badges" style="background-position-x: center;">
            
          </div>

{%- endif -%}
